
<div class="row h-100 w-100 position-absolute d-flex">
  <div class="col-1 p-0">
    <app-side-nav></app-side-nav>
  </div>
  <div class="col-11 p-0 h-100">
    <div class="row">
      <app-top-nav></app-top-nav>


    </div>
    <div class="row position-relative d-flex">
      <div class="row d-flex justify-content-between">
        <div class="col-6"><app-line-chart></app-line-chart></div>
        <div class="col-3"><app-doughnut-chart></app-doughnut-chart></div>
        <div class="col-3"><app-vartical-bar></app-vartical-bar></div>





      </div>




    </div>
    <div class="row h-25">

<div class="col-6"><app-horizontal-bar></app-horizontal-bar></div>
<div class="col-6 d-flex justify-content-center align-items-center"><img src="../../../assets/Datepicker.png" alt=""></div>
    </div>
  </div>
</div>


