<div class="row top_navbar_container d-flex m-0 align-items-center">

  <div class="col-10 d-flex justify-content-between">

    <span class="h1 px-5">Financial Chat</span>
    <div class="row d-flex">
        <span class="menu_list d-flex justify-content-center align-items-center mx-4">
          <img src="../../../assets/logout.png" alt="">
        </span>
        <span class="menu_list d-flex justify-content-center align-items-center mx-4">
          <img src="../../../assets/Bell.png" alt="">
        </span>
        <span class="menu_list d-flex justify-content-center align-items-center mx-4">
          <img src="../../../assets/Setting.png" alt="">
        </span>
    </div>
  </div>
<div class="col-2 d-flex justify-content-end">
  <img src="../../../assets/Logo.png" alt="">
</div>
</div>
