<div class="side_nav_container h-100">
<div class="menu_items h-100 d-flex align-items-center">
  <div class="col-10 d-grid justify-content-center align-items-center h-75 m-0">
    <div class="home_button d-flex justify-content-center align-items-center">
      <img src="../../../assets/Home.png" alt="">
    </div>

    <img src="../../../assets/Calender.png" alt="">
    <img src="../../../assets/Visa.png" alt="">
    <img src="../../../assets/Site.png" alt="">
    <img src="../../../assets/Folder.png" alt="">
    <img src="../../../assets/Schedule.png" alt="">
  </div>
  <div class="col-2 h-25 d-grid align-items-end m-0 w-100 justify-content-center">
    <img src="../../../assets/User.png" alt="">
  </div>
</div>
</div>
