.donut_chart{
height: 100%;
width: 100%;
display: flex;
justify-content: center;;
}
.charts{
  height: 90%;
  width: 90%;
}
.plane{
  position: relative;
width: 21px;
height: 21px;
display: flex;
justify-content: center;
align-items:center;

background: #DEECF8;
border-radius: 14.5px;
}
